@base-color: #219cd3;
@secondry-color: #8a8f91;
//@background-color : #131b1f;
@background-color: #323a45;
@base-font: 'Open Sans',
sans-serif;
@border-radius: 3px;
body {
    background-color: @background-color;
    font-family: @base-font;
}

section {
    background-color: @background-color;
    color: darken(#219cd3, 25%);
    p {
        color: @secondry-color;
        .clear-top;
    }
    h1 {
        font-weight: bold;
        color: @base-color;
        .clear-bottom;
    }
}

.container-white {
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: @border-radius;
    h3 {
        font-weight: 600;
        text-transform: uppercase;
    }
}

.clear-bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.clear-top {
    margin-top: 0px;
    padding-top: 0px;
}

.details {
    font-weight: 100;
    h4 {
        .clear-bottom;
        i {
            font-size: 12px;
        }
    }
    h5 {
        .clear-top;
        margin-left: 10px;
    }
}

.testSuite {
    h2 {
        .clear-bottom;
        background-color: #E6E6E6;
        padding-left: 5px;
        border-radius: @border-radius;
        border: 1px solid #aaa;
        margin-bottom: 3px;
        a {
            text-decoration: none !important;
        }
    }
}

.testCase {
    h2 {
        font-size: 20px;
        margin-left: 0px;
        .clear-top;
    }
}

.resultBox(@color) {
    border: 0px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: @color;
}

.red {
    .resultBox(red);
}

.green {
    .resultBox(green);
}

.dark-row {
    background-color: lighten(@secondry-color, 35%);
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    height: 60px;
    padding: 10px;
    line-height: 60px;
    .clear-top;
    margin-bottom: 10px;
    input[type=checkbox] {
        margin-left: 5px;
    }
}